header{
    display: block;
    /* flex-direction: column; */
    position: fixed;
    /* flex-wrap: wrap; */
    /* background-color:hsl(0, 0%, 100%); */
    background-color: aqua;
    padding-left: 30px;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
}
header svg{
    /* position: absolute; */
    margin-left: 70px;
    margin-top: 20px;
    padding-bottom: 20px;
}
header ul{
    margin-left: 350px;
    margin-top: -40px;
    position: absolute;
    list-style: none;
    text-decoration: none;
}
ul a{
    text-decoration: none;
    margin-inline: 20px;
    color: rgb(40, 39, 37);
    font-weight: lighter;
}
header .invite{
    margin-left: 60%;
    margin-top: 10px;
    background:linear-gradient(80deg,hsl(136, 65%, 51%), hsl(233, 26%, 24%) );
    /* bottom: 25px; */
    position: absolute;
    text-decoration: none;
    color: white;
    width: 120px;
    height: 20px;
    padding: 8px;
    padding-left: 30px;
    border-radius: 20px;
    
}
.nextphone{
    background:hsl(0, 0%, 98%) ;
    background: rebeccapurple;
    margin-top: 60px;
    margin-right: -10px;
}
.next{
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}
.next .gen{
    font-size: xx-large;
    font-weight: bold;
    color: rgb(29, 27, 27);
}
.take{
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: lighter;
}
.ref{
    margin-top: 60px;
    background:linear-gradient(80deg,hsl(136, 65%, 51%), hsl(233, 26%, 24%) );
    width: 120px;
    height: 20px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 20px; 
}
.ref {
    color: white;
    text-decoration: none;
}
 .phone svg{
    position: relative;
    float: right;
    width: 500px;
    height: 300px;
    /* margin-top: 400px; */
}