body{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    right: 0px;
}
/* @keyframes body {
    from{transform: translateY(1700px);}
    to{transform: translateY(0px);}
    
} */
.header{
     display: block;
    position: fixed;  
    background-color: rgb(26, 23, 23);
    width: 100%;
    max-width: 100%;
    height: 15%;
    z-index: 1;
    
} 
 .header ul{
    list-style: none;
    display: flex;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    font-size: larger;
}
 .header ul li a{
    text-decoration: none;
    margin-inline: 20px;
    color: purple;
}

.header ul li a:hover{
    color: white;
}

.bodyy{
    display: inline;
    color: white; 
    width: 100%;
    
    /* margin-left: 0px; */
}
.headd{
    display: inline-block;
    margin: 0px 100px;
    margin-top: 220px;
    width: 85%;
    height: 67%;
    /* background-color: rgb(92, 32, 32); */


}
/*
.head{
    animation: head ease forwards 2s;
}
/* @keyframes head {
    from{transform: translateY(700px);}
    to{transform: translateY(0px);}
    
} */
 /* @keyframes head {
    from{transform: translateY();}
}  */

.head .head1{
    font-size: xx-large;
    margin-bottom: -10px;
}

.name2{
    font-size:70px;
    margin-bottom: -10px;
}


.name3{
    color: purple;
}
.front{
    font-size: xx-large;
    margin-bottom: 20px;
}
.lorem{
    width: 35%;
    height: 13%;
    font-size: large;
    margin-bottom: 60px; 
 }
 .more{
    background-color: purple;
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    border-radius: 30px;
 }
 .more:hover{
    background-color:  rgb(2, 2, 26);
    color: white;
 }
 
.myp{
    float: right;
    margin-top: -350px;
    background-color: gray;
    width: 400px;
    height:400px;
    border-radius: 100%;
    animation: photo ease both 2s;
} 
/* @keyframes photo {
    from{transform: translateX(700px);}
    to{transform: translateX(0px);}
    
} */
/* .headerr{
    animation: headerr linear 4s 2s 2;
} */
/* @keyframes headerr {
    from{transform: translateY(0px);}
    to{transform: translateY(-2000px);}
    
} */
#more{
     /* background-color: rgb(15, 13, 13);  */
    width: 100%;
    height: 130%;
    display: inline-block;
    margin-top: 0px;
    color: white;
    padding-bottom: 50px; 
 }
 .more2{
    margin: 100px 135px;
    width: 80%;
    height: 80%;
    /* background-color: blue; */
 }
.photo2{
    float: left;
    margin-left: 0px;
    background-color: purple;
    width: 15.3%;
    height: 100%;
    margin-top: 0px;
} 
.photo2 ul{
    list-style: none;
    color: white;
    margin-top: 40px;
}
.photo2 ul li{
    color: white;
    margin-top: 30px;
}
.photo2 ul li a{
    text-decoration: none;
    color: white;
    margin-top: 80px; 
 } 
.photo2 ul li :hover{
    color: white;
}
.about{
    float: right;
    margin-right: 0px;
    width: 84.5%;
    height: 100%;
    /* background-color:rgb(15, 13, 13); */
    border: 1px solid gray;
    padding-bottom: 0px;
}

.about .me{
    display: block;
    width: 50%;
    height: 16%;
    border: 1px dotted gray;
    margin-left: 130px;
    padding-left:  130px;
    padding-top: 20px;
    font-size: 70px;
    color: purple;
    margin-top: 10px;
    margin-bottom: 20px;
}

.name{
    display: block;
    color:white;
    margin-left: 130px;
    font-size: larger;
    margin-bottom: 20px;
}
.name span{
    color: purple;
    font-weight: bold;
}
.lorem2{
    display: block;
    color:white;
    margin-left: 130px;
    font-size: medium;
    margin-bottom: -50px;
    width: 85%;
    height: 15%;
}/*
.grid{
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(80px, auto));
    background-color: gray;
    margin-left: 132px;
    width: 45%;
    height: 40%;
    justify-items: center;
    align-items: center;
    border: 1px dotted white;
}
.grid .gee{
    color: purple;
    text-align: center;
    font-size: x-large;
}
.grid .gee2{
    
    color: white;
    text-align: center;
    font-size:medium;
}
*/
.what{
    
    margin-top: -30px;
    margin: 0px 90px;
    color: white;
    width: 80%;
    height: 60%;
    /* background-color: blue; */
    /* margin-bottom: 20px; */
}
.what .i{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: purple;
}
.what .ones{
    width: 40%;
    height: 25%;
    background: rgb(19, 18, 18);
    border: 0.5px solid none;
    margin-left: 40px;
    margin-bottom: 20px;
}
.width{
    width: 1%;
    height: 85%;
    background-color: purple;
    margin-left: 49.5%;
    margin-top: -370px;
}
  .two {
    float: right;
    margin-right: 40px;
    margin-top: -60px;
}
.four{
    float: right;
    margin-right: 40px;
    margin-top: -60px;
}
.build{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 10px;

}
.lor{
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.pro{
    
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.port2{
    margin: 120px auto;
}
#portfolio{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 125%;
    /* max-height: 100%; */
    text-align: center;
    margin-top: 0px;
    /* margin-left: -20px;
    margin-right: 350px; */
    background-color: rgb(33, 28, 28);
    color: purple;
    text-align: center;
    justify-items: center;
    align-content: center;

}
#portfolio ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(0px, auto));
    width: 80%;
    margin: 0px 100px;
    margin-bottom: 40px;
}
#portfolio li{
    display: inline-block;
    margin-bottom: 10px;
    /* margin: 20px; */
    /* margin-left: 0px; */
    
}
#portfolio li img{  
    /* width: 270px;
    height: 220px; */
}

div .show{
    display: inline-block;
    color: black;
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    /* margin-top: 90px; */
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: purple;
    text-decoration: none;
      margin-top: -20px;
}
#contact{
    text-align: center;
    display: inline-block;
    color: white;
    /* background-color:rgb(15, 13, 13);;  */
    height: 100%;
    /* max-height: 100%; */
    width: 100%;
    /* max-width:100% ; */
    /* margin-left: -70px; */
}
.let{
    margin: 200px auto;
}
.let1{
    /* margin-top: 150px; */
    font-size: xx-large;
    color: purple;
}
.social{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.social li a{
    text-decoration: none;
    color: white;
    margin-inline: 30px;
     */
/* } */ */
 /* .let .hr1{ 
    display: block;
    max-width: 100%;
    border: 1px solid rgb(68, 68, 117);
    background-color: rgb(68, 68, 117);
     width: 1700px; 
    height: 3px;
} 
 
footer .copy{
    float: left;
    margin-left: 50px;
    font-size:25px;
}
footer .site{
    display: block;
   float: right;
    font-size: 25px;
    margin-top: 2px;
  /* top: 20;
  right: 1000; */
